<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>{{ title }}</h1>
    <ul>
        {% for day in forecast %}
            <li>
                <strong>{{ day.date }}</strong>: {{ day.description }} with an average temperature of {{ day.avg_temp }} &deg;F
            </li>
        {% endfor %}
    </ul>
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Enter a City" />
        <input type="text" name="state" id="state" placeholder="Enter a State (Optional)" />
        <button type="submit">Submit</button>
    </form>
    <form action="/">
        <button type="submit">Back to Home</button>
    </form>
</body>
<div id="footer">
    Created by Aaron HuSun
</div>
</html>
